@model Projet_salle_de_gym.Models.Products.Produit
@{
    ViewData["Title"] = "Modifier un article";
}
<h2>Modifier l'article</h2>
<form asp-action="ModifierArticle" method="post">
    <input type="hidden" asp-for="Id_prod" />
    <div class="form-group">
        <label asp-for="Nom_produit"></label>
        <input asp-for="Nom_produit" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Prix"></label>
        <input asp-for="Prix" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="Id_cat">Catégorie ID</label>
        <select asp-for="Id_cat" class="form-control">
            <option value="1" selected="@(Model.Id_cat == 1)">Haltères</option>
            <option value="2" selected="@(Model.Id_cat == 2)">Protéines</option>
        </select>

    </div>
    <div class="form-group">
        <label asp-for="Photo">Image</label>
        <select asp-for="Photo" class="form-control">
            <option value="">-- Choisir une image --</option>
            @foreach (var image in ViewBag.Images as List<string>)
            {
                <option value="@image" selected="@(Model.Photo == image)">
                    @image
                </option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
</form>