@model List<Projet_salle_de_gym.Models.Products.Produit>

<h2>Nos produits</h2>

<!-- Liens de filtrage -->
<div>
    <a asp-action="Index">Tous</a> |
    <a asp-action="Index" asp-route-id_cat="1">Haltères</a> |
    <a asp-action="Index" asp-route-id_cat="2">Protéines</a>
</div>

<!-- Affichage des produits -->
<div>
    @foreach (var produit in Model)
    {
        <div style="border:1px solid #ccc; padding:10px; margin:10px;">
            <strong>@produit.Nom_produit</strong><br />
            <img src="/images/@produit.Photo" width="150" /><br />
            <p>@produit.Description</p>
            <p><strong>@produit.Prix €</strong></p>

            <form asp-controller="Panier" asp-action="Ajouter" method="post">
                <input type="hidden" name="id" value="@produit.Id_prod" />
                <button type="submit">Ajouter au panier</button>
            </form>
        </div>
    }

</div>
